<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Site Linkleri</h5>
        <ul class="list-unstyled">
          <li><a routerLink="" class="text-white">Ana Sayfa</a></li>
          <li><a routerLink="about" class="text-white">Hakkımızda</a></li>
          <li><a routerLink="contact" class="text-white">İletişim</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Sosyal Medya</h5>
        <div class="social-icons">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt-4 text-center">
      <p>&copy; 2024 Kod Defteri Blog Sitesi. Tüm Hakları Saklıdır.</p>
    </div>
  </div>
</footer>

