<router-outlet></router-outlet>
<ngx-spinner name="s1" type="timer"></ngx-spinner>
<ngx-spinner name="s2" type="pacman"></ngx-spinner>
<ngx-spinner name="s3" type="cog"></ngx-spinner>
<ngx-spinner name="s4" type="fire"></ngx-spinner>
<ngx-spinner name="s5" type="cube-transition"></ngx-spinner>
<ngx-spinner name="s6" type="ball-clip-rotate"></ngx-spinner>
<ngx-spinner name="s7" type="ball-atom"></ngx-spinner>
<ngx-spinner name="s8" type="line-spin-clockwise-fade"></ngx-spinner>
<ngx-spinner name="s9" type="ball-square-spin"></ngx-spinner>
<ngx-spinner name="s10" type="square-jelly-box"></ngx-spinner>

